PORT=4000
NODE_ENV=development# development, production, test
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=postgres
DB_LOGGING=false

API_PREFIX=/api


UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

BCRYPT_SALT_ROUNDS=10

JWT_SECRET=your_jwt_secret_key
REFRESH_TOKEN=your_refresh_token_secret_key
JWT_EXPIRES_IN=3600
ACCESS_TOKEN_EXPRIRY_TIME=3600
